--- 
configuration: 
  enable_retry: true
  file_root_path: ./
  listening_port: 22222
  request_files: 
    - map_to: js/$uri
      request_path: /js/$uri
  request_paths: 
    - down_streams: 
        - www.example.com
        - www.agoda.com
        - www.healthcare.com
      map_to: /
      uri_path: /
    - down_streams: 
        - www.smartertravel.com
        - www.booking.com
      map_to: /another
      uri_path: /another
