--- 
configuration: 
  enable_retry: true
  listening_port: 22222
  brotli_compress: true
  request_files: 
    - uri_path: /js/*
      map_to: /Users/sanhapon/temp/assets/js
    - uri_path: /css/*
      map_to: /Users/sanhapon/temp/assets/css
  request_paths: 
    - down_streams: 
        - http://localhost:12345
        - http://localhost:12346
      map_to: /
      uri_path: /$
    - down_streams: 
        - https://www.smartertravel.com
        - https://www.booking.com
      map_to: /another
      uri_path: /another*
